<section id="dashboard" class="container mt30">
    <div class="col-md-12 main-content">
        <div>
            <h3 style="background-color:#2aabd2;padding:10px; color: #fff;">General information</h3>
            <div class="form-group">
                <label class="control-label col-sm-3">Total number of products:</label>
                <div class="col-sm-2"><p class="form-control">{{totalItems}}</p></div>
            </div>
            <div class="clearfix"></div>
            <div class="form-group" style="margin-top: 15px;">
                <label class="control-label col-sm-3">Average product price:</label>
                <div class="col-sm-2"><p class="form-control">{{averagePrice | currency}}</p></div>
            </div>
            <div class="clearfix"></div>
        </div>
        <ul class="nav nav-pills mt30">
            <li ng-class="activeProductList"><a class="btn-default" data-toggle="pill" href="javascript:void(0);" data-ng-click="onTabChange('product');">Product</a></li>
            <li ng-class="activeVendorList"><a class="btn-default" data-toggle="pill" href="javascript:void(0);" data-ng-click="onTabChange('vendor');">Vendor</a></li>
        </ul>
        <div class="tab-content">
            <div class="pull-right"><a href="javascript:void(0);" class="btn btn-success" style="margin: 0;">Add</a></div>
            <div id="product" ng-if="activeProductList == 'active-tab'" data-ng-include="'partials/dashboard/product_list.html'" class="tab-pane fade in active"></div>
            <div id="vendor" ng-if="activeVendorList == 'active-tab'" data-ng-include="'partials/dashboard/vendor_list.html'" class="tab-pane fade in active"></div>
            <div data-ng-include="'partials/dashboard/modal/product.html'"></div>
            <div data-ng-include="'partials/dashboard/modal/vendor.html'"></div>
            <div data-ng-include="'partials/dashboard/modal/delete.html'"></div>
        </div>
    </div>
</section>