<div class="pull-right"><a href="javascript:void(0);" class="btn btn-primary" data-ng-click="addProduct();" style="margin: 0;">Add</a></div>
<div class="clearfix"></div>
<table class="col-md-12 table table-striped dashboard-product mt20">
    <thead>
    <tr>
        <th>Item name</th>
        <th>Vendor</th>
        <th>Type</th>
        <th>Serial number</th>
        <th>Price</th>
        <th>Weight (g)</th>
        <th>Color</th>
        <th>Release date</th>
        <th>Published</th>
        <th>Photo</th>
        <th>Created date</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr data-ng-repeat="item in items">
        <td>{{item.name}}</td>
        <td>{{item.vendor_name}}</td>
        <td>{{item.type_name}}</td>
        <td>{{item.serial_number}}</td>
        <td>{{item.price | currency}}</td>
        <td>{{item.weight}}</td>
        <td>{{item.color}}</td>
        <td>{{item.release_date | date: 'MM/dd/yyyy'}}</td>
        <td>{{item.published == true ? 'yes' : 'no'}}</td>
        <td><img ng-src="{{item.photo}}"></td>
        <td>{{item.created_date | date: 'MM/dd/yyyy'}}</td>
        <td>
            <button type="button" class="btn btn-primary" data-ng-click="editProduct(item.id);"><span class="glyphicon glyphicon-pencil"></span></button>
            <button type="button" class="btn btn-danger" data-ng-click="deleteProduct(item.id);"><span class="glyphicon glyphicon-remove"></span></button>
        </td>
    </tr>
    </tbody>
</table>