<table class="col-md-12 table table-striped">
    <thead>
    <tr>
        <th>Item name</th>
        <th>Vendor</th>
        <th>Type</th>
        <th>Serial number</th>
        <th>Price</th>
        <th>Weight</th>
        <th>Color</th>
        <th>Release date</th>
        <th>Photo</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Angular Framework Programming Task v2</td>
        <td>Angular Framework Programming Task v2</td>
        <td>Phone</td>
        <td>123456</td>
        <td>$50 000</td>
        <td>50g</td>
        <td>White</td>
        <td>2016.05.05</td>
        <td>
            <img src="img/product/p-img1.jpg">
        </td>
        <td>
            <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#edit-product"><span class="glyphicon glyphicon-pencil"></span></a>
            <a href="#" class="btn btn-danger" data-toggle="modal" data-target="#delete"><span class="glyphicon glyphicon-remove"></span></a>
        </td>
    </tr>
    <tr>
        <td>Angular Framework Programming Task v2</td>
        <td>Angular Framework Programming Task v2</td>
        <td>Phone</td>
        <td>123456</td>
        <td>$50 000</td>
        <td>50g</td>
        <td>White</td>
        <td>2016.05.05</td>
        <td>
            <img src="img/product/p-img1.jpg">
        </td>
        <td>
            <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#edit-product"><span class="glyphicon glyphicon-pencil"></span></a>
            <a href="#" class="btn btn-danger" data-toggle="modal" data-target="#delete"><span class="glyphicon glyphicon-remove"></span></a>
        </td>
    </tr>
    <tr>
        <td>Angular Framework Programming Task v2</td>
        <td>Angular Framework Programming Task v2</td>
        <td>Phone</td>
        <td>123456</td>
        <td>$50 000</td>
        <td>50g</td>
        <td>White</td>
        <td>2016.05.05</td>
        <td>
            <img src="img/product/p-img1.jpg">
        </td>
        <td>
            <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#edit-product"><span class="glyphicon glyphicon-pencil"></span></a>
            <a href="#" class="btn btn-danger" data-toggle="modal" data-target="#delete"><span class="glyphicon glyphicon-remove"></span></a>
        </td>
    </tr>
    </tbody>
</table>