<table class="col-md-12 table table-striped">
    <thead>
    <tr>
        <th>Item name</th>
        <th>Vendor</th>
        <th>Type</th>
        <th>Serial number</th>
        <th>Price</th>
        <th>Weight</th>
        <th>Color</th>
        <th>Release date</th>
        <th>Published</th>
        <th>Photo</th>
        <th>Created date</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr data-ng-repeat="item in items">
        <td>{{item.name}}</td>
        <td>{{item.vendor_name}}</td>
        <td>{{item.type_name}}</td>
        <td>{{item.serial_number}}</td>
        <td>{{item.price | currency}}</td>
        <td>{{item.weight | weight: 'g'}}</td>
        <td>{{item.color}}</td>
        <td>{{item.release_date | date: 'MM/dd/yyyy'}}</td>
        <td>{{item.published}}</td>
        <td><img ng-src="{{item.photo}}"></td>
        <td>{{item.created_date | date: 'MM/dd/yyyy'}}</td>
        <td>
            <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#edit-product"><span class="glyphicon glyphicon-pencil"></span></a>
            <a href="#" class="btn btn-danger" data-toggle="modal" data-target="#delete"><span class="glyphicon glyphicon-remove"></span></a>
        </td>
    </tr>
    </tbody>
</table>