<table class="col-md-12 table table-striped">
    <thead>
    <tr>
        <th><a href="#">Item name<span class="glyphicon glyphicon-menu-down"></span></a></th>
        <th><a href="#">Vendor<span class="glyphicon glyphicon-menu-up"></span></a></th>
        <th><a href="#">Type<span class="glyphicon glyphicon-menu-up mt5"></span><span class="glyphicon glyphicon-menu-down"></span></a></th>
        <th><a href="#">Serial number<span class="glyphicon glyphicon-menu-down"></span></a></th>
        <th><a href="#">Price<span class="glyphicon glyphicon-menu-down"></span></a></th>
        <th><a href="#">Weight<span class="glyphicon glyphicon-menu-up"></span></a></th>
        <th><a href="#">Color<span class="glyphicon glyphicon-menu-down"></span></a></th>
        <th><a href="#">Release date<span class="glyphicon glyphicon-menu-down"></span></a></th>
        <th><a href="#">Photo<span class="glyphicon glyphicon-menu-down"></span></a></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Laptop HP Envy</td>
        <td>HP</td>
        <td>Phone</td>
        <td>123456</td>
        <td>$ 50.00</td>
        <td>50g</td>
        <td>White</td>
        <td>2016.05.05</td>
        <td><img src="img/product/p-img1.jpg"></td>
    </tr>
    <tr>
        <td>Laptop HP Envy</td>
        <td>HP</td>
        <td>Phone</td>
        <td>123456</td>
        <td>$ 50.00</td>
        <td>50g</td>
        <td>White</td>
        <td>2016.05.05</td>
        <td><img src="img/product/p-img2.jpg"></td>
    </tr>
    <tr>
        <td>Laptop HP Envy</td>
        <td>HP</td>
        <td>Phone</td>
        <td>123456</td>
        <td>$ 50.00</td>
        <td>50g</td>
        <td>White</td>
        <td>2016.05.05</td>
        <td><img src="img/product/p-img3.jpg"></td>
    </tr>
    </tbody>
</table>