<table class="col-md-12 table table-striped">
    <thead>
    <tr>
        <th><a href="#">Item name<span class="glyphicon glyphicon-menu-down"></span></a></th>
        <th><a href="#">Vendor<span class="glyphicon glyphicon-menu-up"></span></a></th>
        <th><a href="#">Type<span class="glyphicon glyphicon-menu-up mt5"></span><span class="glyphicon glyphicon-menu-down"></span></a></th>
        <th><a href="#">Serial number<span class="glyphicon glyphicon-menu-down"></span></a></th>
        <th><a href="#">Price<span class="glyphicon glyphicon-menu-down"></span></a></th>
        <th><a href="#">Weight<span class="glyphicon glyphicon-menu-up"></span></a></th>
        <th><a href="#">Color<span class="glyphicon glyphicon-menu-down"></span></a></th>
        <th><a href="#">Release date<span class="glyphicon glyphicon-menu-down"></span></a></th>
        <th><a href="#">Photo<span class="glyphicon glyphicon-menu-down"></span></a></th>
    </tr>
    </thead>
    <tbody>
    <tr data-ng-repeat="item in items">
        <td>{{item.name}}</td>
        <td>{{item.vendor_name}}</td>
        <td>{{item.type_name}}</td>
        <td>{{item.serial_number}}</td>
        <td>{{item.price | currency}}</td>
        <td>{{item.weight | weight}}</td>
        <td>{{item.color}}</td>
        <td>{{item.release_date}}</td>
        <td><img ng-src="{{item.photo}}"></td>
    </tr>
    </tbody>
</table>