<table class="col-md-12 table table-striped home-product mt20">
    <thead>
    <tr>
        <th>
            Item name
            <div class="menu-wrapper" data-ng-click="sortItems('name');">
                <span ng-if="hasMenuUp('name');" class="glyphicon glyphicon-menu-up mt5"></span>
                <span ng-if="hasMenuDown('name');" class="glyphicon glyphicon-menu-down"></span>
                <div class="clearfix"></div>
            </div>
        </th>
        <th>
            Vendor
            <div class="menu-wrapper" data-ng-click="sortItems('vendor_name');">
                <span ng-if="hasMenuUp('vendor_name');" class="glyphicon glyphicon-menu-up mt5"></span>
                <span ng-if="hasMenuDown('vendor_name');" class="glyphicon glyphicon-menu-down"></span>
            </div>
        </th>
        <th>
            Type
            <div class="menu-wrapper" data-ng-click="sortItems('type_name');">
                <span ng-if="hasMenuUp('type_name');" class="glyphicon glyphicon-menu-up mt5"></span>
                <span ng-if="hasMenuDown('type_name');" class="glyphicon glyphicon-menu-down"></span>
            </div>
        </th>
        <th>
            Serial number
            <div class="menu-wrapper" data-ng-click="sortItems('serial_number');">
                <span ng-if="hasMenuUp('serial_number');" class="glyphicon glyphicon-menu-up mt5"></span>
                <span ng-if="hasMenuDown('serial_number');" class="glyphicon glyphicon-menu-down"></span>
            </div>
        </th>
        <th>
            Price
            <div class="menu-wrapper" data-ng-click="sortItems('price');">
                <span ng-if="hasMenuUp('price');" class="glyphicon glyphicon-menu-up mt5"></span>
                <span ng-if="hasMenuDown('price');" class="glyphicon glyphicon-menu-down"></span>
            </div>
        </th>
        <th>
            Weight (g)
            <div class="menu-wrapper" data-ng-click="sortItems('weight');">
                <span ng-if="hasMenuUp('weight');" class="glyphicon glyphicon-menu-up mt5"></span>
                <span ng-if="hasMenuDown('weight');" class="glyphicon glyphicon-menu-down"></span>
            </div>
        </th>
        <th>
            Color
            <div class="menu-wrapper" data-ng-click="sortItems('color');">
                <span ng-if="hasMenuUp('color');" class="glyphicon glyphicon-menu-up mt5"></span>
                <span ng-if="hasMenuDown('color');" class="glyphicon glyphicon-menu-down"></span>
            </div>
        </th>
        <th>
            Release date
            <div class="menu-wrapper" data-ng-click="sortItems('release_date');">
                <span ng-if="hasMenuUp('release_date');" class="glyphicon glyphicon-menu-up mt5"></span>
                <span ng-if="hasMenuDown('release_date');" class="glyphicon glyphicon-menu-down"></span>
            </div>
        </th>
        <th>
            Photo
            <div class="menu-wrapper" data-ng-click="sortItems('photo');">
                <span ng-if="hasMenuUp('photo');" class="glyphicon glyphicon-menu-up mt5"></span>
                <span ng-if="hasMenuDown('photo');" class="glyphicon glyphicon-menu-down"></span>
            </div>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr data-ng-repeat="item in items">
        <td>{{item.name}}</td>
        <td>{{item.vendor_name}}</td>
        <td>{{item.type_name}}</td>
        <td>{{item.serial_number}}</td>
        <td>{{item.price | currency}}</td>
        <td>{{item.weight}}</td>
        <td>{{item.color}}</td>
        <td>{{item.release_date | date: 'MM/dd/yyyy'}}</td>
        <td><img ng-src="{{item.photo}}"></td>
    </tr>
    </tbody>
</table>