<form class="form-horizontal" role="form" ng-submit="submitProduct();">
    <div class="modal-header">
        <button type="button" class="close" data-ng-click="cancel();">&times;</button>
        <h4 class="modal-title">Add product</h4>
    </div>
    <div class="modal-body" style="overflow:hidden;">
        <div class="form-group">
            <label class="control-label col-sm-3">Item name:</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" data-ng-model="item.name" placeholder="Enter item name">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3">Vendor:</label>
            <div class="col-sm-9">
                <select class="form-control" data-ng-model="item.vendor_id">
                    <option value="">---Please select---</option>
                    <option data-ng-repeat="vendor in vendors" value="{{vendor.id}}">{{vendor.name}}</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3">Type:</label>
            <div class="col-sm-9">
                <select class="form-control" data-ng-model="typeId">
                    <option value="">---Please select---</option>
                    <option data-ng-repeat="type in types" value="{{type.id}}">{{type.name}}</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3" for="serial_number">Serial number:</label>
            <div class="col-sm-9">
                <input type="email" class="form-control" id="serial_number" placeholder="Enter serial number">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3" for="price">Price:</label>
            <div class="col-sm-9">
                <input type="password" class="form-control" id="price" placeholder="Enter password">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3" for="weight">Weight:</label>
            <div class="col-sm-9">
                <input type="password" class="form-control" id="weight" placeholder="Enter weight">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3" for="color">Color:</label>
            <div class="col-sm-9">
                <input type="password" class="form-control" id="color" placeholder="Enter color">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3">Release date:</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" placeholder="Enter release date">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3">Photo:</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" placeholder="Enter photo path">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3">Published:</label>
            <div class="col-sm-9">
                <input type="checkbox">
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-ng-click="cancel();">Cancel</button>
        <button type="submit" class="btn btn-primary">Add</button>
    </div>
</form>