<form class="form-horizontal" role="form" ng-submit="submitProduct();">
    <div class="modal-header">
        <button type="button" class="close" data-ng-click="cancel();">&times;</button>
        <h4 class="modal-title">{{item.id > 0 ? 'Edit' : 'Add'}} item</h4>
    </div>
    <div class="modal-body" style="overflow:hidden;">
        <div class="form-group">
            <label class="control-label col-sm-3">Item name:</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" data-ng-model="item.name" placeholder="Enter item name" data-ng-required="true">
            </div>
            <div class="col-sm-1"><span></span></div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3">Vendor:</label>
            <div class="col-sm-8">
                <select class="form-control" data-ng-model="item.vendor_id" data-ng-options="vendor.id as vendor.name for vendor in vendors" data-ng-required="true">
                    <option value="">---Please select---</option>
                </select>
            </div>
            <div class="col-sm-1"><span></span></div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3">Type:</label>
            <div class="col-sm-8">
                <select class="form-control" data-ng-model="item.type_id" data-ng-options="type.id as type.name for type in types" data-ng-required="true">
                    <option value="">---Please select---</option>
                </select>
            </div>
            <div class="col-sm-1"><span></span></div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3">Serial number:</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" data-ng-model="item.serial_number" placeholder="Enter serial number" data-ng-required="true">
            </div>
            <div class="col-sm-1"><span></span></div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3">Price:</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" data-ng-model="item.price" placeholder="Enter price" data-ng-required="true">
            </div>
            <p class="col-sm-1">$</p>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3">Weight:</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" data-ng-model="item.weight" placeholder="Enter weight" data-ng-required="true">
            </div>
            <p class="col-sm-1">g</p>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3">Color:</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" data-ng-model="item.color" placeholder="Enter color" data-ng-required="true">
            </div>
            <div class="col-sm-1"><span></span></div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3">Release date:</label>
            <div class="col-sm-8">
                <p class="input-group">
                    <input type="text" class="form-control" data-ng-model="item.release_date" uib-datepicker-popup="MM/dd/yyyy" is-open="popup.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open();"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </p>
            </div>
            <div class="col-sm-1"><span></span></div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3">Photo:</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" data-ng-model="item.photo" placeholder="Enter photo path">
            </div>
            <div class="col-sm-1"><span></span></div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3">Published:</label>
            <div class="col-sm-8">
                <input type="checkbox" data-ng-model="item.published">
            </div>
            <div class="col-sm-1"><span></span></div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-ng-click="cancel();">Cancel</button>
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>