<header>
    <h2 class="pull-left">Inventory Management</h2>
    <nav class="pull-right">
        <ul>
            <li ng-class="homeActive">
                <a href="#!home" data-ng-click="onMenuSelect('home');">
                    <span class="glyphicon glyphicon-home"></span>
                    <span>Homepage</span>
                </a>
            </li>
            <li ng-class="dashboardActive">
                <a href="#!dashboard" data-ng-click="onMenuSelect('dashboard');">
                    <span class="glyphicon glyphicon-user"></span>
                    <span>Dashboard</span>
                </a>
            </li>
        </ul>
    </nav>
    <div class="clearfix"></div>
</header>