<header>
    <h2 class="pull-left">Inventory Management</h2>
    <nav class="pull-right">
        <ul>
            <li class="active">
                <a href="#!home">
                    <span class="glyphicon glyphicon-home"></span>
                    <span>Homepage</span>
                </a>
            </li>
            <li>
                <a href="#!dashboard">
                    <span class="glyphicon glyphicon-user"></span>
                    <span>Dashboard</span>
                </a>
            </li>
        </ul>
    </nav>
    <div class="clearfix"></div>
</header>